
body{
    margin: 0 auto;
    background-color: #ffd78f;
    position: relative;
}

.nav{
    background-color: #4371d1;
    height: 30px;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    overflow: hidden;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
li a{
    text-decoration: none;
    color: white;
    padding: 16px;
}
li{
    list-style-type: none;
    margin: 5px;
}
li :hover{
    background-color: aliceblue;
    color: black;
}
.header{
    height: 40vh;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1, .header h3{
    background-color: #000b21;
    padding: 10px;
}
#about_us,#service,#contact{
    height: 15px;
}
.about_us{
    padding-top: 30px;
}
.about_us_left{
    text-align: center;
    width:92%;
    margin: 4%;
}
.about_us_right{
    text-align: center;
    width: 100%;
}
.service{
    margin-top: 30px;
}
.service img{
    width: 100%;
    height: auto;
    
}
.service_left, .service_middle, .service_right{
    margin: 4%;
}
.contact{
    margin-bottom: 5%;
    margin-top: 30px;
   
}
.contact_title{
    text-align: center;
}
.contact_left{
    width: 92%;
    margin: 4%;
    text-align: center;
}
.contact_right{
    width: 88%;
    margin:4%;
    border: black solid 1px;
    border-radius: 10px;
    background-color: #4371d1;
    padding: 2%;
}
.contact input,.contact textarea{
    display: block;
    width: 100%;
    margin-bottom: 2%;
}
.contact input{
    height: 30px;
    
}
.contact button{
    background-color: blue;
    color: white;
    padding: 14px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: auto;
}
.button_cont{
    display: flex;
    justify-content: center;
}
.footer{
    height: auto;
    background-color: #4371d1;
}
.footer_left{
    width: 100%;
    padding: 2%;
}
.footer_right{
    width: 100%;
    text-align: center;
    padding: 2%;
}
.footer_right i{
    color: #ffd78f;
    font-size: 40px;
    margin: 0 10px;
}
@media screen and (min-width: 769px){
    ul{
        display: flex;
        align-items: center;
        justify-content: unset;
        margin: 0;
        padding: 0;
    }
    .header{
        height: 100vh;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about_us{
        display: flex;
        padding: 1%;
        
    }
    .about_us_left{
        text-align: unset;
        width:70%;
        margin:0 0 0 2%;
    }
    .about_us_right{
        text-align: center;
        width: 29%;
    }
    .service{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .service img{
        width: 100%;
        height: 300px;
        
    }
    .service_left, .service_middle, .service_right{
        margin: 2%;
        width: 33.33%;
        overflow: hidden;
    }
    .contact{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        
    }
    .contact_title{
        text-align: center;
    }
    .contact_left{
        width: 40%;
        margin: 0 2%;
        text-align: unset;
    }
    .contact_right{
        width: 30%;
        margin-right: 2%;
        border: black solid 1px;
        border-radius: 10px;
        background-color: #4371d1;
        padding: 2%;
    }
    .contact input,.contact textarea{
        display: block;
        width: 100%;
        margin-bottom: 2%;
    }
    .contact input{
        height: 30px;
        
    }
    .contact button{
        background-color: blue;
        color: white;
        padding: 14px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        margin: auto;
    }
    .button_cont{
        display: flex;
        justify-content: center;
    }
    .footer{
        height: auto;
        background-color: #4371d1;
        display: flex;
    }
    .footer_left p{
        margin: 0;
    }
    .footer_left{
        width: 60%;
        padding: 10px;
    }
    .footer_right{
        width: 40%;
        text-align: right;
        padding: 10px 60px 0 0;

    }
    .footer_right i{
        color: #ffd78f;
        font-size: 40px;
        margin: 0 10px;
    }
}
