
.body-bg{
    background-image: url(./img/blue-covid-19-1400x693_0.jpg);
   background-size: cover;
   background-position: center;
}
.container-fluid{
    background-color: rgba(0,0,0,0.7);
    
}
.covid-icon{
    height: 40px;
    width: auto;
}
.button-container{
    margin: 20px 20px 40px 20px;
}
.shadow-selects{
    box-shadow: 0px 2px 8px 8px cadetblue;
}
.countries,.period{
    margin: 0 10px 0 0;
    
}
.flag{
    height: 15px;
    width: auto;
}
