// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.cover-photo{
    background-image: url(/img/jagermeister-user.jpg);
    background-size: cover;
    height: 100vh;
}
.admin-photo{
    background-image: url(/img/jagermeister-admin.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
    min-height: 100vh;
    
}
.background{
    
    background-color: rgba(0,0,0,0.7);
    min-height: 100vh;
}
.contnent{
    height: 80vh;
}
#file{
    border-radius: 4px;
   
}
.modal-bg{
    background-color: rgb(114, 133, 114);
}
.navbar-bg{
    background-color: rgb(114, 133, 114, 0.9);
}
.header-bg{
    background-color: rgb(1, 44, 1);
}
.navbar-brand ,.navbar-nav{
    color: white !important;
    font-weight: bold !important;
}
.logo{
    height: 50px;
    width: auto;
}
.red{
    color: red;
}
.green{
    color: green;
}
.card-image{
    height: 200px;
    width: 100%;
}
.account{
    min-height: 80vh;
    
}
.progress-container{
    border: solid 2px black;
    background-color: white;
    height: 20px;
    width: 100%;
    border-radius: 5px;
    display: none;

}
.progressBar{
    background-color: green;
    
    border-radius: 5px;
    color: black;
    font-size: small;
    text-align: center;
}